[build]
  command = "npm run build"
  publish = ".next"
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF -- . ':(exclude)content'"

[build.environment]
  NODE_VERSION = "20"
  NEXT_TELEMETRY_DISABLED = "1"
  ESLINT_NO_DEV_ERRORS = "true"
  NEXT_DISABLE_ESLINT = "1"
  NEXT_DISABLE_TYPE_CHECKS = "1"


[[plugins]]
  package = "@netlify/plugin-nextjs"